<template>
  <div class="hello">

    <div class="main-content">
      <md-card md-with-hover v-for="post in posts">
        <md-card-area>
          <md-card-header>
            <md-avatar>
              <img src="https://unsplash.it/120x120/?random" alt="People">
            </md-avatar>

            <md-card-header-text>
              <div class="md-title"> {{ post.userID }} </div>
            </md-card-header-text>


            <md-menu v-if='isThisUsersPost(post.userID)' md-size="4" md-direction="bottom left">
              <md-button class="md-icon-button" md-menu-trigger>
                <md-icon>more_vert</md-icon>
              </md-button>

              <md-menu-content>
                <md-menu-item @click.native="deletePost(post._id)">
                  <span>Delete</span>
                  <md-icon>delete_forever</md-icon>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-card-header>

          <md-card-media>
            <img :src="post.img" alt="People">
          </md-card-media>

          <md-card-actions>
            <md-button class="md-icon-button">
              <md-icon>favorite</md-icon>
              <md-tooltip md-direction="top">Heart</md-tooltip>
            </md-button>

            <md-button class="md-icon-button">
              <md-icon>bookmark</md-icon>
              <md-tooltip md-direction="top">Bookmark</md-tooltip>
            </md-button>

            <md-button class="md-icon-button">
              <md-icon>share</md-icon>
              <md-tooltip md-direction="top">Share</md-tooltip>
            </md-button>

            <md-button class="md-icon-button">
              <md-icon>comment</md-icon>
              <md-tooltip md-direction="top">Comment</md-tooltip>
            </md-button>
          </md-card-actions>
        </md-card-area>
        <md-card-content>
          <md-list class="md-dense">
            <md-list-item>
              <md-icon>favorite</md-icon> <span>32,904 likes</span>
            </md-list-item>
          </md-list>
          <p><b>Lorem ipsum</b> {{ post.description }} </p>
          <p class="card-date">{{ findPostTimeDifference(post.date) }}</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import auth from '../auth'

const apiURL = 'http://localhost:3000/api'

export default {
  name: 'hello',
  data () {
    return {
      title: 'InstaVUE',
      posts: []
    }
  },
  created: function () {
    this.getPosts()
  },
  methods: {
    deletePost: function (postID) {
      console.log('deleting ' + postID)
      axios.delete(apiURL + '/posts/' + postID)
      .then(response => {
        this.posts = this.posts.filter(post => {
          return post._id !== postID
        })
        // this.getPosts()
        console.log(response)
      })
      .catch(function (error) {
        console.log(error)
      })
    },

    getPosts: function () {
      axios.get(apiURL + '/posts')
      .then(response => {
        this.posts = response.data
        console.log(this.posts)
      })
      .catch(function (error) {
        console.log(error)
      })
    },

    findPostTimeDifference: function (postTime) {
      var timeDifference = Date.now() - postTime
      var mins = timeDifference / 60000
      var unit = 'MINS AGO'

      if (mins > 60 * 24 * 7) {
        mins = mins / (60 * 24 * 7)
        unit = 'WEEKS AGO'
      } else if (mins > 60 * 24) {
        mins = mins / (60 * 24)
        unit = 'DAYS AGO'
      } else if (mins > 60) {
        mins = mins / 60
        unit = 'HOURS AGO'
      }

      return Math.round(mins) + ' ' + unit
    },

    isThisUsersPost: function (postUser) {
      if (postUser.toLowerCase() === auth.user.name.toLowerCase()) {
        return true
      }

      return false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
