<template>
  <div class="login">
    <div class="main-content">

      <md-card md-with-hover>
        <md-card-header>
          <div class="md-title">Login</div>
          <div class="md-subhead">Not the safest login...</div>
        </md-card-header>

        <md-card-content>
          <md-input-container>
            <label>Your Name</label>
            <md-input maxlength="240" v-model="userName"></md-input>
          </md-input-container>
        </md-card-content>

        <md-card-actions>
          <md-button class="md-raised md-accent" @click.native="submit">Go</md-button>
        </md-card-actions>
      </md-card>

    </div>
  </div>
</template>

<script>
import auth from '../auth'

export default {
  data () {
    return {
      userName: ''
    }
  },
  methods: {
    submit () {
      auth.login(this.userName)
      console.log(this.$router.push('hello'))
    }
  }

}
</script>
