<template>
  <div class="post">
    <div class="main-content">

      <md-card md-with-hover>
        <md-card-header>
          <md-card-header-text>
            <div class="md-title"> Post </div>
          </md-card-header-text>
        </md-card-header>

        <md-card-media v-if='imgSrc'>
          <img :src="imgSrc" />
        </md-card-media>

        <md-card-content>
          <md-input-container>
            <label>Image</label>
            <md-file accept="image/*" @change.native="onFileChange"></md-file>
          </md-input-container>
          <md-input-container>
            <label>Comment</label>
            <md-textarea maxlength="240" v-model="comment"></md-textarea>
          </md-input-container>
        </md-card-content>


        <md-card-actions>
          <md-button class="md-raised md-accent" @click.native="upload">
            Upload
          </md-button>
        </md-card-actions>
      </md-card>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
import auth from '../auth'

export default {
  name: 'post',
  data () {
    return {
      imgSrc: '',
      apiURL: 'http://localhost:3000/api',
      comment: ''
    }
  },
  methods: {
    onFileChange: function (e) {
      console.log('file changed')
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      this.createImage(files[0])
    },
    createImage: function (file) {
      var reader = new FileReader()

      reader.onload = (e) => {
        this.imgSrc = e.target.result
        console.log(this.imgSrc)
      }
      reader.readAsDataURL(file)
    },
    removeImage: function (e) {
      this.imgSrc = ''
    },
    upload: function () {
      axios.post(this.apiURL + '/posts', {
        userID: auth.user.name,
        description: this.comment,
        img: this.imgSrc,
        date: Date.now()
      })
      .then(response => {
        console.log(response)
        this.$router.push('hello')
      })
      .catch(function (error) {
        console.log(error)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
