<template>
  <div id="app">
    <md-toolbar class="md-medium">
      <div class="md-toolbar-container">

        <h2 class="md-title" style="flex: 1;">{{ title }}</h2>
        <md-button class="md-icon-button">
        <router-link to="/post">
          <md-icon>add_a_photo</md-icon>
          <md-tooltip md-direction="bottom">New Post</md-tooltip>
        </router-link>
      </md-button>
      </div>
    </md-toolbar>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      title: 'InstaVUE'
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.main-content {
  padding: 16px;
}

.md-toolbar-container {
  .md-icon-button {
    a {
      color: inherit !important;
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}


.md-card {
  width: 360px;
  margin: 8px;

  .card-date {
    font-size: 10px;
    font-weight: light;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
